@import '../../assets/sass/public/vw.scss';
*{
    margin: 0;
    padding: 0;
}
ul{
  list-style: none;  
}
.home{
    .carousel{
      width: 100%;
      height: vw(400);
      img{
        width: 100%;
        height: 100%;
      }
    }
    .nav-router{
      height: vw(210);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        li{
          display: flex;
          flex-direction: column;
          align-items: center;
          i{
            color: #ffabab;
            font-size: 36px;
            padding-bottom: vw(30);
          }
          span{
            font-size: 12px;
          }
        }
      }
    }
    .more-cont{
      width: 100%;
      height: vw(154);
      box-sizing: border-box;
      padding: 0 vw(14);
      display: flex;
      justify-content: space-between;
      img{
        width: vw(354);
      }
    }
    .module{
      border-top: vw(20) solid #f3f3f3;
      h2{
        line-height: vw(80);
        font-weight: normal;
        font-size: 18px;
        padding-left: vw(30);
      }
      .look-more{
        height: vw(80);
        line-height: vw(80);
        text-align: center;
        font-size: 12px;
      }
    }
    .hot{
      width: 100%;
      margin-top: vw(26);
      padding-bottom: vw(40);
      ul{
        width: 100%;
        height: vw(360);
        overflow: hidden;
        li{
          float: left;
          padding: vw(6) vw(12);
          img{
            width: vw(160);
            height: vw(160);
          }
        }
      }
    }
    .recommend{
      width: 100%;
      height: auto;
      .img-list{
        padding-bottom: vw(40);
        border-bottom: 1px solid #f3f3f3;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .designer{
      .sjs-list{
        width: 100%;
        height: vw(638);
        overflow: hidden;
        .sjs-item{
          padding: vw(22);
          display: flex;
          border-bottom: 1px solid #f2f2f2;
          img{
            width: vw(220);
            height: vw(270);
            padding-right: vw(22);
          }
          .brief{
            height: vw(270);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 14px;
            .brief-top{
              i{
                display: inline-block;
                width: vw(110);
                height: vw(32);
                color: white;
                background-color: red;
                font-style: normal;
                font-size: 12px;
                text-align: center;
                margin-right: vw(10);
                margin-bottom: vw(16);
              }
            }
            .brief-btm{
              padding-bottom: vw(20);
              p{
                margin-top: vw(10);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 12px;
                color: #999999;
              }
            }
          }
        }
      }
    }
    .other{
      height: vw(206);
      span{
        display: inline-block;
        width: vw(210);
        height: vw(80);
        line-height: vw(80);
        background-color: #eeeeee;
        color: #666666;
        margin-left: vw(22);
        text-align: center;
        font-size: 14px;
      }
    }
    .touch{
      text-align: center;
      height: vw(170);
      width: 100%;
      h2{
        padding: 0;
        font-size: 16px;
      }
      span{
        i{
          font-weight: bolder;
          font-size: 24px;
          padding-right: vw(20);
        }
        color: red;
      }
    }
}
