@charset "UTF-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input,
section,
article,
aside,
header,
footer,
nav,
figure,
figcaption,
main,
hgroup,
mark,
time,
dialog,
embed {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

b,
strong {
  font-weight: normal;
}

img,
fieldset {
  border: none;
}

input {
  outline: none;
}

textarea {
  /* 禁止用户拖拽大小 */
  resize: none;
}

/* 封装自己的类名 */
.float_left {
  float: left;
}

.float_right {
  float: right;
}

.border_none {
  border: none !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clear_fix:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.clear_fix {
  zoom: 1;
}

/* 多行文本 */
.text-webkit {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
}

.app .nav-list {
  width: 100%;
  height: 13.33333vw;
  border-top: 1px solid #cccccc;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  color: #333333;
}

.app .nav-list .nav-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app .nav-list .nav-item i {
  color: #ffabab;
  font-size: 24px;
}

.app .nav-list .nav-item span {
  font-size: 12px;
}
