@import "../../../assets/sass/public/vw.scss";

.jiexi {
  margin-bottom: vw(100);
  .banner {
    width: 100%;
  }
  .title {
    font-size: vw(38);
    text-align: center;
  }
  .intro {
    width: 100%;
    padding: vw(40) vw(20);
    h4 {
      font-size: vw(32);
      margin-bottom: vw(20);
    }
    p {
      line-height: vw(44);
      margin-bottom: vw(20);
    }
  }
  .details {
    .detailItem {
      margin-bottom: vw(20);
      .detailsImg {
        width: 100%;
      }
      p {
        line-height: vw(44);
        font-size: vw(28);
        color: "#ccc";
        padding: 0 vw(20);
      }
    }
  }
}
