@import '../../assets/sass/public/vw.scss';

.user{
    display: flex;
    height: vw(1200);
    flex-direction: column;
    .user-info{
        padding-top: vw(70);
        width: 100vw;
        height: vw(480);
        background-color: #e23f36;
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-photo{
            width: vw(180);
            height: vw(180);
            border-radius: 50%;
            background-color: white;
        }
        h3{
            color: white;
            font-size: 16px;
            line-height: vw(100);
        }
        button{
            width: vw(260);
            height: vw(78);
            border: none;
            outline: none;
            border: 1px solid white;
            border-radius: vw(39);
            background-color: #e7675e;
            color: white;
            font-size: 16px;
        }
    }
    .my-list{
        flex: 1;
        background-color: #efefef;
        ul{
            background-color: white;
            margin-top: vw(20);
            border-top: 2px solid #efefef;
            li{
                display: flex;
                height: vw(100);
                align-items: center;
                border-bottom: 2px solid #efefef;
                i{
                    text-align: center;
                    flex: 1;
                }
                span{
                    flex: 8;
                }
            }
        }
    }
}
